html {
	cursor: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" height="64" width="64"><text y="28" font-size="32">🐝</text></svg>'), auto;
}

body {
    background: rgb(150,209,249);
    background: linear-gradient(12deg,
                rgba(150,209,249,1) 0%,
                rgba(169,228,255,1) 35%,
                rgba(239,255,255,1) 100%);
    font-size:  100px;
}

info {
    position:   fixed;
    font-size:  0.5em;
    z-index:    1;
    bottom:     0;
    right:      0;
    padding:    10px;
    text-align: right;
    cursor:     pointer;
    display:    inline-block;
}

a:link, a:visited, a:hover, a:active { text-decoration: none; }

.flowers{
    display:    flex;
    justify-content: space-around;
    flex-wrap:  wrap;
    flex:       3 0 1%;
    margin:     5px;
    height:     100%;
}

#odd {
    justify-content: space-between;
}

.f1:hover {
    transform:  translateY(-10px);
    transition-duration: 0.2s;
}

.f2:hover {
    transform:  rotate(360deg);
    transition-duration: 0.6s;
}

.f3:hover {
    transform: rotate(-360deg);
    transition-duration: 0.5s;
}

.f4:hover {
    transform:  translateY(-10px);
    transition-duration: 1s;
}

